<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  </head>
  <body ng-app="appAngular">

        {{> header}}

        {{{body}}}

        {{> footer}}

        <script src="/javascripts/angular/main.js" charset="utf-8"></script>
        <script src="/javascripts/angular/controllers.js" charset="utf-8"></script>
        <script src="/javascripts/angular/services.js" charset="utf-8"></script>
  </body>
</html>
